<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="server.js"></script>
    <script src="ejs.js"></script>
    <title>Love Calculator</title>
</head>
<body>
    <h1>Love Calculator</h1>
    <br>
    <form action="/" method="post">
    <input type="text" name="partner-one" id="partner-1">
    <input type="text" name="partner-two" id="partner-2">
    <button type="submit">Calculate</button>
    <p><%= randomGenerator %></p>
</form>
</body>
</html>